body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background-size: cover;
  color: whitesmoke;
  background-color: black;
}

.navbar-item {
  color: rgb(180, 201, 202);
}

.list-group {
  color: rgb(180, 201, 202);
}

/* apply styles to <header> */
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-decoration-style: wavy;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;
}


/* HERO SECTION BEGINS */

h2 {
  color: whitesmoke;
  text-decoration: underline;
}

h2 img {
flex-wrap: wrap;
align-content: flex-end;
}

p {
  color: whitesmoke;
  font-weight: normal;
}

p image {
  color: black;
}

.h3 {
color: black;
}

a:visited {
color: whitesmoke;
}

a:link {
  color: whitesmoke;
}

a:hover {
  color: red;
}

